body {
	background-color: rgb(202, 222, 235);
}

header {
	text-align: center;
	background-color: white;
	margin: 10px auto 30px;
	font-size: 40px;
	width: 700px;
	height: 100px;
	box-shadow: -20px 10px 0px rgb(0, 0, 0);
}

#list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: auto;
	width: 1200px;
	background-color: white;
	box-shadow: -20px 10px 0px rgb(0, 0, 0);
	padding-top: 20px;
}

.event-card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 900px;
	height: 200px;
	border: 1px solid grey;
	margin: 10px;
	list-style: none;
	padding: 20px;
	box-shadow: -20px 10px 0px rgba(0, 0, 0, 0.63);
}

.event-card img {
	height: 100px;
}

.event-card a {
	height: 50px;
	width: 100px;
	background-color: grey;
	box-shadow: -10px 5px 0px rgb(0, 0, 0);
}

.event-card p {
	font-size: 30px;
}

#list-ul {
	display: flex;
	flex-direction: column;
	margin: 0px;
}

#button-panel button {
	padding: 0px 10px 0 10px;
	margin: 0px 10px 0 10px;
	background-color: white;
	box-shadow: -5px 5px 0px rgb(0, 0, 0);
	font-size: 50px;
}
