body {
  background-color: rgb(202, 222, 235);
}

header {
  text-align: center;
  background-color: white;
  margin: 10px auto 30px;
  font-size: 40px;
  width: 700px;
  height: 100px;
  box-shadow: -20px 10px 0px rgb(0, 0, 0);
  padding-bottom: 20px;
}

#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1200px;
  background-color: white;
  box-shadow: -20px 10px 0px rgb(0, 0, 0);
  padding-top: 20px;
}

.event-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  width: 900px;
  height: 200px;
  border: 1px solid grey;
  margin: 10px;
  list-style: none;
  padding: 20px;
  box-shadow: -20px 10px 0px rgba(0, 0, 0, 0.63);
}

.event-card:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border: 4px solid grey;
}

.event-card img {
  height: 100px;
}

.event-link {
  background-color: white;
  box-shadow: -5px 5px 0px rgb(0, 0, 0);
}

.event-card p {
  font-size: 30px;
}

#list-ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

#button-panel button {
  padding: 0px 10px 0 10px;
  margin: 0px 10px 0 10px;
  background-color: white;
  box-shadow: -5px 5px 0px rgb(0, 0, 0);
  font-size: 50px;
}

#button-panel button:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border: 4px solid grey;
}

#search-form {
  display: flex;
  align-items: center;
  height: 5em;
  margin: 20px;
}

#search-box {
  width: 25vw;
  background-color: white;
  box-shadow: -5px 5px 0px rgb(0, 0, 0);
}

#search-button {
  margin-left: 15px;
  background-color: white;
  box-shadow: -5px 5px 0px rgb(0, 0, 0);
}

#search-button:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border: 2px solid grey;
}
